.reviewList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reviewListItem {
    list-style: none;
    background-color: #F8F2EB;
    border-radius: 20px;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.reviewHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d2e2cb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.book-image {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 150px;
    height: auto;
}

.book-image img {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.username {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.starRating {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.review-book-title {
    font-weight: 500;
    font-size: 25px;
}

.delete-comment,
.edit-comment {
    background-color: #F9F9F9;
    padding: 7px;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comment header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-date {
    font-size: 11px;
    margin-bottom: 15px;
}

.edit-delete-review {
    padding: 5px;
}

.edit-review {
    padding: 5px;
    font-size: 17px;
}

.delete-review {
    padding: 5px;
    font-size: 17px;
}